@{
    Layout = "_AuthLayout";
}
@model Mini_Social_Media.Models.InputModel.RegisterEmailStepModel
<h2>Đăng ký tài khoản</h2>
<form asp-action="Register" method="post">
    <div class="mb-3">
        <label>Nhập Email của bạn</label>
        <input asp-for="Email" class="form-control" placeholder="example@gmail.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã OTP</button>
</form>