.object-fit-cover {
    object-fit: cover;
}

/* Overlay effect */
.group-hover-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Màu đen mờ */
    opacity: 0; /* Mặc định ẩn */
    transition: opacity 0.2s ease;
    cursor: pointer;
}

/* Hiện overlay khi hover vào div cha */
.group-hover-overlay:hover .overlay {
    opacity: 1;
}

/* Tab active line */
.nav-link.active {
    border-top: 1px solid black !important;
    color: black !important;
}

.nav-link {
    color: #8e8e8e;
    font-size: 12px;
    letter-spacing: 1px;
}
.hover-bg-light:hover {
    background-color: #fafafa;
}
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 3px;
}
